*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.icon-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* z obrázku kruh */
  object-fit: cover;
  /* ořízne obrázek bez deformace */
  cursor: pointer;
  border: 2px solid #ccc;
  /* orámování */
  margin: 0 10px
    /* mezera mezi ikonama */
}

/* obal obou ikon */
.icons-wrapper {
  display: flex;
  justify-content: center;
  /* zarovnání doprostřed stránky */
  gap: 20px;
  /* mezera mezi ikonama */
  margin-top: 20px;
}
